.errupu {
    /* width: 400vh; */
    /* object-fit: cover; */
    width: 50%;
    height: 50%;
    /* margin-left: auto;
    margin-right: auto; */
    /* height: 200px; */

}

.props {
    margin-left: 20px;
    margin-right: 20px;
}

/* .for-box {
    background-color: rgb(254, 157, 191);
} */