.cardm{
	/* width: 280px; */
    /* height: 350px; */
	border-radius: 33px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2rem !important;
}
/* .top-container{ */
	/* display: flex; */
	/* align-items: center; */
/* } */
.profile-image{
	border-radius: 10px;
}
.name{
	font-size: 15px;
	font-weight: bold;
	color: white;
	position: relative;
	top: 8px;
}

.recent-border{
	display: flex;
	align-items: center;
}

.recent-orders{
	font-size: 16px;
	font-weight: 700;
	color: white;
	margin-left: 2px;
}

.wishlist{
	font-size: 16px;
	font-weight: 700;
	color: white;

}
.wishlist-border:hover{
	border-bottom: 1px solid #dee2e6!important;
}
.fashion-studio{
	font-size: 16px;
	font-weight: 700;
	color: white;
}
.fashion-studio-border:hover {
	border-bottom: 1px solid white!important
}

.reg-form {
    /* background-color: black; */
    border-radius: 33px;
	padding: 2rem !important;
}

.main-cont {
	margin: 10px;
}